<body>
<h4>Sell Ticket</h4>
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="airlineTicketId">Airline Ticket ID</label>
      <input type="text" class="form-control" name="airlineTicketId" required ngModel>
    </div>
    <div class="form-group">
      <label for="newOwner">New Owner</label>
      <select name="newOwner" id="newOwner" required ngModel>
        <option value="x509::/OU=client/CN=user1::/C=US/ST=North Carolina/O=Hyperledger/OU=Fabric/CN=org2ca-ca">(org2) Travel Agent 1</option>
      </select>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
