@import '../../colors.scss';

:host {
  
  background-color: $header-background;
  display: flex;
  flex: 1;
  
  header {
    display: flex;
    background-color: $header-background;
    padding-left: 1em;
  
    h1 {
      color: $header-text;
      font-size: 1.7em;
    }
  }
  
}