<body>
<h4>Check Client Balance</h4>
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="clientId">Client ID</label>
      <select name="clientId" id="clientId" required ngModel>
        <option value="x509::/OU=client/CN=user1::/C=US/ST=North Carolina/O=Hyperledger/OU=Fabric/CN=agent1ca-ca">Travel Agent 1</option>
        <option value="x509::/OU=client/CN=user1::/C=US/ST=North Carolina/O=Hyperledger/OU=Fabric/CN=peerairline1-ca">Airline 1</option>
      </select>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
