<body>
<h4>Cancel Ticket</h4>
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="airlineTicketId">Airline Ticket ID</label>
      <input type="text" class="form-control" name="airlineTicketId" required ngModel>
    </div>
    <div class="form-group">
      <label for="newStatus">New Status</label>
      <select name="newStatus" id="newStatus" required ngModel>
        <option value="Cancelled by Agent">Cancelled</option>
      </select>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Submit</button>
    <br>
    * A 10% cancellation fee will be deducted from the refunded amount.
  </form>
</div>
</body>
