<body>
<h4>Transfer Tokens</h4>
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="to">Recipient</label>
      <select name="to" id="to" required ngModel>
        <option value="x509::/OU=client/CN=user1::/C=US/ST=North Carolina/O=Hyperledger/OU=Fabric/CN=bspca-ca">BSP</option>
        <option value="x509::/OU=client/CN=user1::/C=US/ST=North Carolina/O=Hyperledger/OU=Fabric/CN=peerairline1-ca">Airline 1</option>
      </select>
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input type="text" class="form-control" name="value" required ngModel>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
