@import '../../colors.scss';

:host {
  
    
  header {
    display: flex;
    background-color: $header-background;
    padding-left: 2em;
  
    h1 {
      color: $header-text;
      font-size: 1.7em;
    }
  }
}
